
.margin{
    margin-right: 140px;
}
.black{
    color: black;
}
h1{
    color: rgb(241, 196, 15,) !important;
}
.img{
    background-image: url(../images/1.jpg);
}
.marketing{
    background-color:rgb(218, 218, 218);
}
.font{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid orange;
    margin: auto;
}
.img2{
    /* background-color:  rgb(13, 14, 14); */
    background-image: url(../images/6.png);
}
.users{
    font-size: 80px;
    padding-top: 20px;
}
.light{
    background-color: rgb(56, 55, 55);
}
